{% extends 'base.html.twig' %}

{% block title %}Boards index{% endblock %}

{% block body %}
    <h1>Boards</h1>
    <p>mail: {{ app.user.email ?? 'Anonymous user' }}</p>


    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody> #}
        <div class="base-flex-board">
        {% for board in boards %}
            <div class="cards-board">
                {{ board.name }}
                    <a href="{{ path('app_boards_show', {'id': board.id}) }}">show</a>
                    <a href="{{ path('app_boards_edit', {'id': board.id}) }}">edit</a>
            </div>
        {% else %}
                <p>no records found</p>
        {% endfor %}

    <a href="{{ path('app_boards_new') }}">Create new</a>
        </div>
{% endblock %}
